html,
body {
  padding: 0;
  margin: 0;
  font-family:'Gudea',sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color:#fff;
  margin:5% 5% 5% 5%
}

pre, code {
 box-sizing:border-box;
 -moz-box-sizing:border-box;
 webkit-box-sizing:border-box;
 word-wrap: nowrap; 
 width:80%; 
 overflow-x:scroll;
}

hr {
  border:1px dotted #a7a9ab;
  border-style:none none dotted;
  margin:0 10% 0 0
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

ol,
ul {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

@media print {
  body {
    margin:5% 5% 5% 5%;
    font-size:90%;
    max-width:600px;
  }
  
  hr {
    border-style:none none solid;
    border-width:1px
  }
  
  pre, code {
     box-sizing:border-box;
     -moz-box-sizing:border-box;
     webkit-box-sizing:border-box;
     word-wrap: nowrap; 
     width:80%; 
     overflow-x:scroll;
  }
}

