html,
body {
  padding: 0;
  margin: 0;
  font-family:'Gudea',sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color:#fff;
  margin:5% 5% 5% 5%
}

code,
pre {
  background: #f3f4f6;
  overflow-x: scroll;
  overflow-y: hidden;
  border-radius: 5px;
}

code {
  padding: 0.75rem;
  word-wrap: nowrap;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

hr {
  border:1px dotted #a7a9ab;
  border-style:none none dotted;
  margin:0 10% 0 0
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

ol,
ul {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

@media print {
  body {
    margin:5% 5% 5% 5%;
    font-size:90%;
    max-width:600px;
  }
  
  hr {
    border-style:none none solid;
    border-width:1px
  }
  
  code,
  pre {
    background: #f3f4f6;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 5px;
  }

  code {
    padding: 0.75rem;
    word-wrap: nowrap;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
}

