html,
body {
  padding: 0;
  margin: 0;
  font-family:'Gudea',sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color:#fff;
  margin:5% 5% 5% 5%
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

hr {
  border:1px dotted #a7a9ab;
  border-style:none none dotted;
  margin:0 10% 0 0
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

pre {
	box-sizing: border-box;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	font-size: 12px;
	line-height: 20px;
	background: #efefef;
	border: 1px solid #777;
	background: url(lines.png) repeat 0 0;
	padding: 10px;
	color: #333;
}

ol,
ul {
  margin-top: 0;
}

@media print {
  body {
    margin:5% 5% 5% 5%;
    font-size:90%;
    max-width:600px;
  }
  
  hr {
    border-style:none none solid;
    border-width:1px
  }
  
  pre {
		overflow-x: auto;
		white-space: pre-wrap;
		white-space: -moz-pre-wrap !important;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;
		word-wrap: break-word;
		background: #fff;
	}
}

