html,
body {
  padding: 0;
  margin: 0;
  font-family:'Gudea',sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color:#fff;
  margin:5% 5% 5% 5%
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

hr {
  border:1px dotted #a7a9ab;
  border-style:none none dotted;
  margin:0 10% 0 0
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

pre {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: nowrap;
}

ol,
ul {
  margin-top: 0;
}

@media print {
  body {
    margin:5% 5% 5% 5%;
    font-size:90%;
    max-width:600px;
  }
  
  hr {
    border-style:none none solid;
    border-width:1px
  }
  
  pre {
    max-width: 600px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    word-wrap: nowrap;
  }
}

