.container {
  min-height: 100vh;
  margin: 10%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  color:#006400;
  display:inline-block;
  font-size:1.4em;
  letter-spacing:3px;
  text-transform:uppercase
}

.contactInformation,
.linksContainer {
  color:#808284;
  display:inline-block;
  font-size:.8em;
  letter-spacing:1px;
  line-height:.9em;
  text-transform:uppercase
}

.contactDeets {
  color:#58585b;
  display:inline-block;
  margin-bottom:2%;
  margin-top:1.1em;
  text-decoration:none
}

.links {
  color:#58585b;
  display:inline-block;
  text-decoration:none
}

.links:hover {
  color:#006400
}

.links img {
  margin-bottom:-.2em;
  padding-right:.3em;
  padding-left:.3em
}

.primaryTitles {
  color:#006400;
  display:inline-block;
  font-size:.9em;
  letter-spacing:1px;
  margin-bottom:-1%;
  text-decoration:none
}

.location {
  color:#58585b;
  display:inline-block;
  font-size:.8em;
  letter-spacing:2px;
  margin-bottom:-1%;
  margin-top:1em;
  padding-left:.4em;
  text-transform:uppercase
}

.categoryHeaders {
  color:#006400;
  font-size:.9em;
  letter-spacing:2px;
  margin-top:3em;
  margin-bottom:.1em;
  text-transform:uppercase
}

.categoryDetails {
  color:#808284;
  font-size:.9em;
  font-style:italic;
  line-height:1.4em;
  font-weight:400;
  margin-bottom:1%;
  margin-left:2%;
  margin-top:.8em
}

.categoryDescriptionMain {
  color:#808284;
  font-size:.9em;
  line-height:1.4em;
  margin-bottom:1%;
  margin-left:2%;
  margin-right:7%;
  margin-top:1em
}

.categoryDescription {
  color:#808284;
  font-size:.9em;
  line-height:1.4em;
  margin-bottom:.2em;
  margin-left:2%;
  margin-right:7%;
  margin-top:.01em
}

.categoryDescriptionCenter {
  text-align:center;
  color:#808284;
  font-size:.9em;
  line-height:1.4em;
  margin-bottom:.2em;
  margin-left:2%;
  margin-right:7%;
  margin-top:.01em
}

.hr {
  border:1px dotted #a7a9ab;
  border-style:none none dotted;
  margin:0 10% 0 0
}

@media print {
  .hr {
    border-style:none none solid;
    border-width:1px
  }
}
